#fullContainer {
    width:100%;
    background-color: rgba(250, 235, 249, 0.548);
}
#buttonContainer {
    margin:auto;
    width: 40%;
}
#goButton {
    margin: auto;
    width: 100%;
    border: 2px rgba(110, 13, 107, 0.548) double;
    background: rgba(187, 144, 184, 0.548);
    font-size: 30px;
}
#sortContainer {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.subContainer {
    display: inline-block;
    width:45%;
    border: 4px rgba(110, 13, 107, 0.548) groove;
    margin-top: 1.25%;
}
#bubbleArea {
    margin-left: 2.5%;
    background-color:beige;
}
#quickArea {
    margin-left: 3.75%;
    background-color:rgb(234, 237, 245)
}
.subContainer > h2 {
    margin-left: 5%;
    height: 32px;
    margin-top: 0;
}
.sortElement {
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.subContainer > div {
    position: relative;
}
.bubbleElement {
    background: url('img/GSD-head.png');
    /*border: 2px aqua ridge;*/
}
.quickElement {
    background: url('img/black-GSD.png');
    /*border: 2px firebrick ridge;*/
}