
body {
  background-color: darkgreen;
}
h1{
  color: rgb(189, 220, 245);
  margin: 20px 20px 20px 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#scoreBoard {
  float: left;
}
#score {
  float: left;
  color: rgb(189, 220, 245);
  margin: 20px 20px 20px 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(189, 220, 245);
  background-image: url(img/cartoon_tree.png);
  background-position: center;
  position: relative;
}
 #apple {
  background-image: url(img/apple.png);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  position: absolute;

 }

#snake {
  background-color: rgb(29, 122, 118);
  border: black 2px solid;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;   /* Uncomment if you want to set a "starting" position */
  top: 100px;   /* Uncomment if you want to set a "starting" position */
}
